@model Doctor

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Doctor</h2>
            <hr />
        </div>
        <div class="mb-3 row">
            <label asp-for="DoctorName"></label>
            <input asp-for="DoctorName" class="form-control">
            <span asp-validation-for="DoctorName" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <select asp-for="CategoryId" asp-items="@(ViewData["CategoryList"]as IEnumerable<SelectListItem> )" class="form-select border-0 shadow">
                <option disabled selected>Select Category</option>
            </select>
            
            <input asp-for="CategoryId" class="form-control">
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control" style="width:150px">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Doctor" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    Back to list
                </a>
            </div>

        </div>

    </div>
</form>
@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />



    }
}