@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Appointment Sent</h1>
         <br /><br />
        <img src="~/images/App.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your Appointment has been sent to the hospital successfully! <br />
        
    </div>
</div> 
