@model AppointmentVM
<form method="post">
    <br />
    <div class="container">
        <div class="card shadow border-0">

            <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
                <div class="row px-4">

                    <div class="col-6 text-end">
                        <a asp-action="Index" class="btn btn-outline-danger btn-sm">Back to Details</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-6 pb-4">
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="AppointmentHeader.TheName" class="form-control" />
                                    <span asp-validation-for="AppointmentHeader.TheName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="AppointmentHeader.Number" class="form-control" />
                                    <span asp-validation-for="AppointmentHeader.Number" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="AppointmentHeader.City" class="form-control" />
                                    <span asp-validation-for="AppointmentHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>region</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="AppointmentHeader.Region" class="form-control" />
                                    <span asp-validation-for="AppointmentHeader.Region" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-wrap">
                            <div class="mb-2">
                                <input type="date" id="dateSelector" />
                            </div>
                            <div class="mb-2">
                                <div id="timesHolder" class="btn-group flex-wrap" role="group" aria-label="Basic radio toggle button group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                    </div>
                    <div class="col-12 col-md-4">
                        <button type="submit" value="Place Order" class="btn btn-primary form-control">Get appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        $('#dateSelector')[0].onchange = (() => {
            let date = $('#dateSelector').val();
            $.ajax({
                url: `https://localhost:7259/Customer/Appointment/GetAvilableAppointments?date=${date}`,
                type: 'GET',
                success: function (data) {
                    console.log(data)
                    $.each(data, (i, obj) => {
                        console.log(obj)
                        $('#timesHolder').append(
                            `
                                <input type="radio" class="btn-check" name="AppointmentHeader.AppointmentDate" value="${obj}" id="${i}" autocomplete="off">
                                <label class="btn btn-outline-primary" for="${i}">${obj.split('T')[1]}</label>
                            `
                        )
                    })
                }
            })
        })
        $.ajax('')
        
    </script>
    
}