@model ConfirmationVM
<form method="post">
    <input asp-for="AppointmentHeader.Id" hidden />
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">PickUp Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.TheName" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.TheName" class="text-danger"></span>

                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.TheName" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.Number" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.Number" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.Number" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.City" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.City" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.City" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Region</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.Region" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.Region" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.Region" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.ApplicationUser.Email" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.ApplicationUser.Email" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">

                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.AppointmentDate" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.AppointmentDate" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.AppointmentDate" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            @if (User.IsInRole(SD.Admin_Role))
                            {
                                <div class="row my-1">
                                    <div class="col-3">Session ID</div>
                                    <div class="col-9">
                                        <input type="text" readonly class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">Payment Intent ID</div>
                                    <div class="col-9">
                                        @if (User.IsInRole(SD.Admin_Role))
                                        {
                                            <input asp-for="AppointmentHeader.PaymentIntentId" type="text" class="form-control" />
                                            <span asp-validation-for="AppointmentHeader.PaymentIntentId" class="text-danger"></span>


                                        }
                                        else
                                        {
                                            <input asp-for="AppointmentHeader.PaymentIntentId" readonly type="text" class="form-control" />
                                        }
                                    </div>
                                </div>
                            }
                            <div class="row my-1">


                                <div class="col-3">Payment Date</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.PaymentDate" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.PaymentDate" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.PaymentDate" readonly type="text" class="form-control" />
                                    }
                                </div>

                            </div>

                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.PaymentStatus" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.PaymentStatus" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.PaymentStatus" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            @if (User.IsInRole(SD.Admin_Role))
                            {
                                <button type="submit" asp-action="UpdateConfirmationDetail" class="btn btn-warning form-control my-1" >Update</button>
                            }
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>

                            <ul class="list-group mb-3">

                                <li class="list-group-item d-flex justify-content-between p-2">
                                    <div class="row container">
                                        <div class="col-8">

                                            <h6 class="my-0 text-primary">Title</h6>
                                            <small class="text-muted">Price : $$$</small><br />
                                            <small class="text-muted">Quantity : XX</small>
                                        </div>
                                        <div class="col-4 text-end">
                                            <p class="text-success">Count * Price</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">$$$$</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <input type="submit" class="btn btn-success form-control my-1" value="Now" />
                            <input type="submit" class="btn btn-primary form-control my-1" value="Start Processing" />
                            <input type="submit" class="btn btn-danger form-control my-1" value="Cancel Order" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>