@model ConfirmationVM
<form method="post">
    <input asp-for="AppointmentHeader.Id" hidden />
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Appointment Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="index" class="btn btn-outline-info form-control btn-sm">Back</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary"> Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.TheName" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.TheName" class="text-danger"></span>

                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.TheName" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.Number" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.Number" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.Number" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.City" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.City" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.City" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Region</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.Region" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.Region" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.Region" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.ApplicationUser.Email" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.ApplicationUser.Email" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">

                                    @if (User.IsInRole(SD.Admin_Role))
                                    {
                                        <input asp-for="AppointmentHeader.AppointmentDate" type="text" class="form-control" />
                                        <span asp-validation-for="AppointmentHeader.AppointmentDate" class="text-danger"></span>


                                    }
                                    else
                                    {
                                        <input asp-for="AppointmentHeader.AppointmentDate" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                           
                            @if (User.IsInRole(SD.Admin_Role))
                            {
                                <button type="submit" asp-action="UpdateConfirmationDetail" class="btn btn-warning form-control my-1" >Update</button>
                            }
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Appointment Summary</span>
                            </h4>

                          
                            <button type="submit"asp-action="Aprove" class="btn btn-primary form-control my-1" value="Aproved">Aproved</button>
                            <button asp-action="Cancel" type="submit" class="btn btn-danger form-control my-1" value="Cancel Order">Appointment Cancel </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>